@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Open+Sans:wght@300&display=swap');
$primary: #1d1d1d;
$cyan: #08FDD8;
$light: #515152;
$cursiveFont: 'La Belle Aurore', cursive;
$primaryFont: 'Open Sans', sans-serif;
